$color-primary-purple: linear-gradient(90deg, rgb(22, 7, 30) 0%, rgb(57, 17, 72) 35%, rgb(88, 10, 117) 100%); // главный цвет header & footer
$color-primary-deep-purple: #330a5b; //основной цвет страницы
$color-primary-white: #f6f6f9; //главный цвет текста
$color-primary-gray: #e0e2eb; //главный цвет фона
$color-primary-light-blue: #abc2f2; //цвет кнопок

